name: Run validation

on:
  - push

jobs:
  validation:
    name: Run terraform validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Tofu
        uses: opentofu/setup-opentofu@v1

      - name: Cache terraform dir
        uses: actions/cache@v5
        with:
          path: ~/.terraform
          key: terraform-${{ hashFiles('versions.tf') }}

      - name: Show version
        run: tofu --version

      - name: Run init
        run: tofu init -upgrade

      - name: Run validate
        run: |
          tofu fmt --check
          tofu validate
